<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732541499968-udt5d9k1r8vb2itnh8qdfvifqdpg8h0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732541499968-udt5d9k1r8vb2itnh8qdfvifqdpg8h0f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732541499968-mqa2thjutp9hqam62mmigjtmanh9ofst.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDY8GG5RWpHAfusduBda0RWUemoSb6wSzE</string>
	<key>GCM_SENDER_ID</key>
	<string>732541499968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sudhaar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sudhaar-43992</string>
	<key>STORAGE_BUCKET</key>
	<string>sudhaar-43992.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732541499968:ios:dcdeb2c119ee8311c93da5</string>
</dict>
</plist>